#header-nav{
	background-color: #78727D;
	font-size: 42px
}

#box1{
	background-color: #78727D;
	margin: 1%;
}

#box2{
	background-color: #78727D;
	margin: 1%;
}

#box3{
	background-color: #78727D;
	margin: 1%;
}

#title0{
	text-align: center;
}

#title1{
	font-size: 42px;
	text-align: center;
}

#title2{
	font-size: 42px;
	text-align: center;
}

#title3{
	font-size: 42px;
	text-align: center;
}